<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseList">
        <h2>My Expenses</h2>
        <a href="/newexpense" id="add_expense">Add a new expense</a>
        <p id="no_expenses"
           th:if="${#lists.isEmpty(expenses)}">
            You don't have any expenses!
        </p>

        <table class="table" th:unless="${#lists.isEmpty(expenses)}">
            <thead>
            <tr>
                <th>When</th>
                <th>What</th>
                <th>Amount Spent</th>
                <th>Payments Requests</th>
                <th>Payments Received</th>
                <th>Net Expenses</th>
            </tr>
            </thead>
            <tbody>
                <tr th:block th:each="expense: ${expenses}">
                    <td th:id="'date_'+${expense.id}"
                        th:text="${expense.date}"
                        data-label="When"/>

                    <td th:id="'payment_request_'+${expense.id}"
                        data-label="What">
                        <a  th:text="${expense.description}"
                            th:href="'/payment-request?id='+${expense.id}"/>

                    <td th:id="'amount_'+${expense.id}"
                        th:text="${expense.amount}"
                        data-label="Amount Spent"/>

                    <td th:id="'request_'+${expense.id}"
                        th:text="${expense.totalAmountOfPaymentsRequested()}"
                        data-label="Payments Requests"/>

                    <td th:id="'received_'+${expense.id}"
                        th:text="${expense.totalAmountForPaymentsReceived()}"
                        data-label="Payments Received"/>

                    <td th:id="'nett_'+${expense.id}"
                        th:text="${expense.amountLessPaymentsReceived()}"
                        data-label="Net Expenses"/>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total Expenses</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="grand_total"
                        th:text="${netExpensesTotal}"/>
                </tr>
            </tfoot>
        </table>
    </section>
</div>
</body>

</html>